<%- include("header) -%>
<h1> Enter any changes to Agent and submit to the server</h1>
<form method= "post> action= "">
    Agent Id; <input type ="number" disabled=" disabled" value = "<%= agent[0].AgentId %>"/><br/>
    </form>

<%- ("footer") -%>