doctype html
head
  meta(charset='UTF-8')
  title Customer Registration
  script.
    function validate(myform)
    {
    /*  var theform = document.forms[0];
    if (theform.elements[1].value==""){
    document.getElementById("message").innerHTML = "Last name must have a value";
    myform.lname.focus();
    return false
    }
    }*/
    var errorMessage ="";
    for (var i=0; i<document.forms[0].elements.length - 2; i++)
    {
    if (myform.elements[i].value == "")
    {
    errorMessage+= myform.elements[i].name + " must have a value\\ns";
    myform.elements[i].focus();
    }
    }
    var postalField = document.getElementById("postalCode");
    var exp = new RegExp(/^[ABCEGHJ-NPRSTVXY]\\d[ABCEGHJ-NPRSTV-Z][ -]?\d[ABCEGHJ-NPRSTV-Z]\d$/i);
    var postal = postalField.value.trim().toUpperCase();
    postalField.value = postal;
    if (!exp.test(postal))
    {
    errorMessage += postalField.name + " has an incorrect format\\n";
    postalField.focus();
    }
    if (!errorMessage)
    {
    return confirm ("Continue submitting?");
    }
    else
    {
    document.getElementById("message").innerText = errorMessage;
    return false;
    }
    }
    function showTip(para)
    {
    document.getElementById(para).style.visibility = "visible";
    }
    function hideTip(para)
    {
    document.getElementById(para).style.visibility = "hidden";
    }
  link(rel='stylesheet' type='text/css' href='myfile.css')
style.
  .tip {
  visibility: hidden;
  position:absolute;
  height: 30px;
  width: 150px;
  top: 190px;
  right: 700px;
  background-color: rgb(246, 246, 246);
  color: red;
  font-size: 15px;
  }
h1(align='center' color='black') Customer Information 
h2#message
p#tip1.tip Enter your first name
br
p#tip2.tip Enter your last name
br
p#tip3.tip Enter your address
br
p#tip4.tip Enter your Email
br
p#tip5.tip Enter your Postal Code
br
form(method='get' action='bouncer.php')
  | First name: 
  input(type='text' name='First name' required='required' onfocus="(showTip('tip1'))" onblur="(hideTip('tip1'))")
  br
  |             Last name: 
  input(type='text' name='Last name' onfocus="(showTip('tip2'))" onblur="(hideTip('tip2'))")
  br
  |             Address: 
  input(type='text' name='Mailing Address' onfocus="(showTip('tip3'))" onblur="(hideTip('tip3'))")
  br
  |             Email: 
  input(type='email' name='Email' onfocus="(showTip('tip4'))" onblur="(hideTip('tip4'))")
  br
  |             Postal Code: 
  input#postalCode(type='text' name='Postal Code' onfocus="(showTip('tip5'))" onblur="(hideTip('tip5'))")
  br
  button(type='submit' onclick='return validate(this.form)') Submit
  button(type='reset' onclick="return confirm('Do you really want to reset?')") Reset