doctype html
head
  title About Me
  style.
    h1{
    text-align: center;
    color: rgb(21, 22, 22);
    font-size: 200;
    font-family: 'Trebuchet MS',;
    }
    p{
    float: left;
    font-size: medium;
    background-color: aqua;
    }
    body{
    background-image: url("media/parrot.jpg");
    background-repeat: unset;
    }
header
  h1 About Travel Agency
p We are a travel agency located in Calgary.
