<!DOCTYPE html>
<html>
 <head>
    <title>
      Travel Experts
    </title>

    <style>
        h1 {
            text-align: center; color: rgb(26, 24, 25);
            font-size: 50px;
            color: rgb(15, 15, 15);
            border-radius: 3ch;
            border-color: black;
      }
      li {
        float: left; display: block; width: 120px; padding: 4PX;
      background-color: rgb(242, 125, 125);
      }
      
    </style>
</head>
    <body>
        <h1 id="greetingMessage"></h1>
        <script type="text/javascript" src="greeting.js"></script>
        <script>
          document.getElementById("greetingMessage").innerHTML = getGreeting();
        </script>
        <h1>
            TRAVEL EXPERTS
        </h1>
        <ul>
            <li><a href="index.html"> HOME</a></li>
            <li><a href= "contact2.html">CONTACT US</a></li>
            <li><a href= "about.html">ABOUT</a></li>
            <li><a href= "404page.html">404-PAGE</a></li>
        </ul><br/>
    </body>
           
    
            
    </body></html>