octype html
html
head
  script type="text/javascript" src="../Public/greeting.js"

  script
        //document.getElementById("greetingMessage").innerhtml = getGreeting();

  link(rel="stylesheet" href="myfile.css")
 
  title Travel Experts
body
  h1(id="greetingMessage") WELCOME TO TRAVEL EXPERTS

  ul
      li 
        a(href="index") HOME
      li 
        a(href= "contact2") CONTACT US
      li 
        a(href= "about") ABOUT 
      li
        a(href= "404") 404-PAGE
